/*
	QWidget
*/
QWidget {
	background-color: #E4DBBF;
	color: #DC5B21;
	background-clip: border;
}

QGroupBox#groupBox_Pitch_PID, 
QGroupBox#groupBox_Roll_PID,
QGroupBox#groupBox_Yaw_PID, 
QGroupBox#groupBox_Limit_PID,
QGroupBox#groupBox_Position_Attitude_PID,
QGroupBox#groupBox_Speed_Attitude_PID,
QGroupBox#groupBox_Position_NAV_PID,
QGroupBox#groupBox_Speed_NAV_PID,
QGroupBox#groupBox_SelectFW{
    border: 1px solid #DC5B21;
	padding-top: 15px; 
}

/*

QGroupBox:flat {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-radius: 0;
}
QGroupBox::title {
    subcontrol-origin: margin;
	left: 10px;
    margin: 0 3px 0px 3px;
    padding: 0 3px 0px 0px;
    font-weight: bold;
    font-size: 16px;
    color: #DC5B21;
}
*/

/*
	 TabWidget
*/
QTabBar::tab{
    background: #383127;
	color: #E4DBBF;
    width: 60px;
	height: 18px;
    padding: 4px;
	margin-right: 15px;
	font-size: 16px;
	border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

QTabBar::tab:selected, QTabBar::tab:hover {
    color: #DC5B21;	
}

QTabBar::tab:selected {
    border-color: #E4DBBF;
    border-bottom-color: #05B8CC;
}

QTabBar::tab:!selected {
    padding-top: 2px; /* make non-selected tabs look smaller */
}

/*
    QPushButton
*/

QPushButton {
	background: #383127;
	color: #E4DBBF;
	width: 80px;
	height: 40px;
	margin: 0px 15px 5px 0px;	
	border-style: outset;
    border-radius: 4px;
	font-size: 12px;
	font-weight: bold;
}

QPushButton:hover, QPushButton:clicked{
    color: #DC5B21;	 
	padding-top: 2px;
    padding-left: 3px;
	margin-left: 5px;
}

/*
	QLabel

QLabel {
    padding: 2px;
	color: #DC5B21;
}
*/
/*
	 QSlider

QSlider::groove:horizontal {
    border: 1px solid #999999;
    height: 6px; 
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #B1B1B1, stop:1 #c4c4c4);
    margin: 2px 0;
}

QSlider::handle:horizontal {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #b4b4b4, stop:1 #8f8f8f);
    border: 1px solid #5c5c5c;
    width: 18px;
    margin: -2px 0;  
    border-radius: 3px;
}*/
/*
	 ProgressBar
*/
QProgressBar {
	border: 1px solid #4A4A4F;
	border-radius: 4px;
	text-align: center;
	padding: 0.1em;
	color: #FFFFFF;
	background-color: #A7A7AB;
}
QProgressBar:disabled {
	color: #EBEBEB;
	border-color: #383838;
	background-color: #CFCFCF;
	etch-disabled-text: 0;
}
QProgressBar:horizontal {
	 max-height: 1em;
	 min-height: 0.8em;
}
QProgressBar:vertical {
	 max-width: 1em;
	 min-width: 0.8em;
}
QProgressBar::chunk {
	 background-color: #3C7B9E;
	 border-radius: 3px;
}
QProgressBar::chunk:disabled {
	background-color: #878787;
}


